{% extends "admin/base.html.twig" %}

{% block body %}
    {{ parent() }}

    <h1>Créer un brand</h1>

	{{form(brandForm)}}
    
  </main>
    {% block javascripts %}{% endblock %}      

{% endblock %}