{% extends "admin/base.html.twig" %}

{% block body %}
    {{ parent() }}

    <h1>Télécharger une image</h1>

	{{form(imageForm)}}
    
  </main>
    {% block javascripts %}{% endblock %}      

{% endblock %}