{% extends "admin/base.html.twig" %}

{% block body %}
    {{ parent() }}
    <main class="container">
        <h1 class="nosUser">Créer un compte</h1>
	{{form(userForm)}}
    
   </main>
    {% block javascripts %}{% endblock %}      

{% endblock %}